body {
  line-height: 1.5;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

.form {
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 5px solid deepskyblue;
  border-radius: 4px;
  background-color: #fff;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.group-title {
  margin-top: 0;
}

.form-field textarea {
  width: 100%;
  min-height: 150px;
  outline-color: #1976d2;
}

.button {
  display: inline-flex;
  padding: 12px 32px;
  border: transparent;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #1976d2;
}

/* .form-label:focus-within {
  color: #1976d2;
  работает только когда инпут в лейпбл
} */

.form-input {
  padding: 10px 20px;
}

.form-input:focus {
  outline-color: #1976d2;
}

.form-input:checked + .form-label {
  color: #2196f3;
}

.form-input.number:in-range {
  color: rgb(7, 167, 7);
}

.form-input.number:out-of-range {
  color: red;
}

/*
.form-input:invalid {
  border-color: red;
}

.form-input:valid {
  border-color: rgb(7, 167, 7);
}

.form-input:placeholder-shown {
  border-color: red;
}

.form-input:not(placeholder-shown) {
  border-color: #1976d2;
} */

.form-input:not(:placeholder-shown):required:valid {
  border-color: rgb(7, 167, 7);
}

.form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.form-label a {
  color: #2196f3;
}

.form-input.uplift {
  border: 1px solid #1976d2;
  width: 100%;
}

.form-field.uplift {
  position: relative;
}

.form-label.uplift {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  /* background-color: #1976d2; */
}

.form-input.uplift:focus + .form-label.uplift,
.form-input.uplift:not(:placeholder-shown) + .form-label.uplift{
  transform: translateY(-50px);
  color: #1976d2;
}

.icon{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
}

.form-input:focus ~ .icon{
  background-color: #1976d2;
}