body {
  line-height: 1.5;
  background-color: antiquewhite;
}

form{
  padding-left: 20px;
}

label {
  margin-bottom: 8px;
  max-width: 300px;
}

input {
  padding: 8px;
  font-family: inherit;
}

button{
  cursor: pointer;
}

.form-number input{
  margin-right: 30px;
}